@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;

}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body{
    background: #eee;
}
.header{
    position: fixed;
    height: 10%;
    top: 0;
    left:0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 7%;
    background: rgb(51,51,51);
    box-shadow: 0 20px 20px rgba(0,0,0,0.1) ;
}

.header .logo{
    font-size: 30px;
    font-weight: bolder;
    color: rgb(245, 245, 254);

}
.header .logo i{
    color: #6ab04c;
}

.header .navbar a{
    font-size: 20px ;
    color: rgb(245, 245, 254);
    margin: 0 15px;
}
.header .navbar a:hover{
    font-weight: bold;
    color: #6ab04c;
    transition: .3s;
}

.header .icons{
    display: flex;
}

.header .icons div{
    height: 48px;
    width: 48px;
    line-height: 48px;
    border-radius:8px ;
    background: rgb(51,51,51);
    color: white;
    font-size:22px ;
    margin-right:5px ;
    text-align: center;
}

.header .icons div a{
    padding: 12px;
    color: #eee;
}

.header .icons div:hover{
    background: #6ab04c;
    color: #eee;
    transition: 0.3s;
    cursor: pointer;
}

.header .search-form{
    position: absolute;
    top: 110%;
    right:-100%;
    width: 500px  ;
    height: 45px;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    align-items: center;
    box-shadow: 0 20px 20px rgba(0,0,0,0.1) ;
}

.header .search-form.active{
    right: 35px;
    transition: .4s linear;
}


.header .search-form input{
    height: 100%;
    width: 100%;
    background: none;
    text-transform: none;
    font-size:15px;
    color: black;
    padding:0 8px;
}

.header .search-form label{
    font-size: 15px;
    padding-right: 10px;
    color: black;
    cursor: pointer;
}

.header .search-form label:hover{
    color: #6ab04c;
}




.home2{
    width: 100%;
    height: 70%;
    margin-top: 85px;
    background-image: url(bg2.jpg) ;
    background-repeat: no-repeat;
    background-size: 100%;
    

}

.home2 .content{
    text-align: left;
    background-color: rgba(0,0,0,0.2);
    height: 100%;
    padding: 30px;
    padding-top:15%;
}

.home2 .content p{
    font-size: 17px;
    color: #6ab04c;
    font-weight: 600;
    padding-left: 250px;
}

.home2 .content h3{
    font-size: 50px;
    font-weight: 1500;
}

.home2 .content h3 span{
    color: #6ab04c;
}

.btn{
    border: 1px solid white;
    border-radius: 5px;
    font-size: 15px;
    color: #eee;
    padding:10px 15px;
}

.btn:hover{
    border: #6ab04c;
    background-color: #6ab04c;
}

.features{
    height:70% ;
    padding: 30px;
    color: #eee;
    background-color: rgb(51,51,51);
}

.heading{
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
}

.heading span{
    background: #6ab04c;
    color: #fff;
    display: inline-block;
    padding: 5px 30px;
    clip-path: polygon(100% 0,93% 50%,100% 99%,0% 100%,7% 50%,0% 0%);
}

.features .container{
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
}

.features .container .box{
    border-radius: 5px;
    width: 30%;
    padding: 30px;
    text-align: center;
    
}

.features .container .box:hover{
    box-shadow: 0px 0px 8px #6ab04c;
}

.features .container .box i{
    font-size: 150px;
    
}

.features .container .box h4{
    font-size: 25px;
    padding: 25px;
}

.features .container .box p{
    font-size: 12px;
    padding-bottom: 30px;
}

.categories{
    padding: 50px;
    height: 80%;
    background-color: rgba(0,0,0,0.2);
}

.categories .container{
    display: flex;
    justify-content: space-between;
    height: 80%;
    padding: 30px;
    margin-top: 1%;
}

.categories .container .box{
    width: 20%;
    background-color: #eee;
    text-align: center;
    padding: 2%;
    border-radius: 5px;
    box-shadow: 0px 10px 20px 2px rgba(0,0,0,0.2);
    outline: 1.5px solid rgba(0,0,0,0.2);
    outline-offset: -10px;
}

.categories .container .box:hover{
    box-shadow: 0px 0px 20px 2px #6ab04c;
}

.categories .container .box img{
    width: 90%;

}

.categories .container .box h3{
    background: #6ab04c;
    font-size: 25px;
    color: #fff;
    display: inline-block;
    padding: 5px 30px;
    clip-path: polygon(100% 0,93% 50%,100% 99%,0% 100%,7% 50%,0% 0%);
}

.categories .container .box .vege_img{
    margin-top: 25%;
    width: 120%;
    margin-left: -10%;
}

.categories .container .box .dairy_img{
    margin-top: 20%;
    margin-left: -5%;
    width: 110%;
}

.categories .container .box .meat_img{
    margin-top: 12%;
}

.categories .container .box .meat_h{
    margin-top: 12%;
}

.categories .container .box .dairy_h{
    margin-top: 19%;
}

.categories .container .box .fruits_h{
    margin-top: 22%;
}

.categories .container .box .veg_h{
    margin-top: 22%;
}


.s1{
    background: rgb(52, 52, 52);
}

.s1 h1{
    padding: 30px 0;
    color: #eee;
}

.s1 .grid{
    display: flex;
    background-color: rgb(52, 52, 52);
}

.s1 .grid .person1{
    box-shadow: 0 0 20px rgba(0 ,0 ,0,0.5);
    width: 325px;
    height: 600px;
    margin: 50px 50px;
    background-color: rgb(51, 51, 51);
}

.s1 .grid .person1 .image{
    background: url(cu1.webp) no-repeat;
    background-size: cover;
    height: 250px;
    width: 250px;
    margin: 30px 40px;
    border-radius: 50%;
}

.s1 .grid .person1 .content{
    text-align: center;
    margin: 5px 5px;
    color: #eee;
    font-size: 13px;
}

.s1 .grid .person2{
    box-shadow: 0 0 20px rgba(0 ,0 ,0,0.5);
    width: 325px;
    height: 600px;
    margin: 50px 50px;
    background-color: rgb(51, 51, 51);
}

.s1 .grid .person2 .image{
    background: url(cu2.jpg) no-repeat;
    background-size: cover;
    height: 250px;
    width: 250px;
    margin: 30px 40px;
    border-radius: 50%;
}

.s1 .grid .person2 .content{
    text-align: center;
    margin: 5px 5px;
    color:#eee ;
    font-size: 13px;
}

.s1 .grid .person3{
    box-shadow: 0 0 20px rgba(0 ,0 ,0,0.5);
    width: 325px;
    height: 600px;
    margin: 50px 50px;
    background-color: rgb(51, 51, 51);
}


.s1 .grid .person3 .image{
    background: url(cu3.jpeg) no-repeat;
    background-size: cover;
    height: 250px;
    width: 250px;
    margin: 30px 40px;
    border-radius: 50%;
}

.s1 .grid .person3 .content{
    text-align: center;
    margin: 5px 5px;
    color: #eee;
    font-size: 13px;
}

.s1 .grid .person4{
    box-shadow: 0 0 20px rgba(0 ,0 ,0,0.5);
    width: 325px;
    height: 600px;
    margin: 50px 50px;
    background-color: rgb(51, 51, 51);
}


.s1 .grid .person4 .image{
    background: url(cu4.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
    width: 250px;
    margin: 30px 40px;
    border-radius: 50%;
}

.s1 .grid .person4 .content{
    text-align: center;
    margin: 5px 5px;
    color: #eee;
    font-size: 13px;
}

.footer{
    background: #6ab04c;
    height: 50%;
    color: #eee;
}


.footer .container{

    width: 100%;
    height: 75%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    gap: 1px;
    padding: 2%;
}

.footer .container .box{

    padding:20px;
}

.footer .container .box h3{
    font-size: 23px;
    font-weight: bolder ;
    text-decoration: underline white;
    padding-bottom: 10px;
}

.footer .container .box a{
    display: block;
    font-size: 15px;
    color: #eee;
    font-weight: bold;
}

.footer .container .box a:hover{
    color: rgb(51,51,51);
    
}

.footer .container .box i{
    color: white;
}



.btn1{
    border: 1px solid white;
    border-radius: 5px;
    font-size: 15px;
    color: #eee;
    padding:10px 15px;
    background: none;
    margin-top: 20px;
}

.btn1:hover{
    border: #6ab04c;
    color: black;
    padding:10px 15px;
    background: #eee;
    font-weight: bolder;
}

.footer .container .box .icons{
    display: flex;
}

.footer .container .box .icons a{
    padding: 10px;
    margin: 5px;
    font-size: 20px;
    border: 1px solid #eee;
    border-radius: 8px;
    width: 40px;
    height: 40px;
    text-align: center;
}

.footer .container .box .icons a:hover{
    color: rgb(51,51,51);
    background: #eee;
}

.footer .container .box p{
    font-size: 15px;
    padding: 10px 5px;
}

.footer .container .box .email{
    border-radius: 8px;
    height: 30px;
    width: 60%;
    padding-left:2% ;
}

.footer .credit{
    text-align: center;
    margin-top: 30px;
    font-size: 15px;
    padding: 10px ;
    border-top: 1px solid;
    padding-top: 25px;
}
.footer .credit span{
    color: rgb(51,51,51);
    font-weight: bolder;
}