@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;

}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body{
    background: #eee;
}
.header{
    position: fixed;
    height: 10%;
    top: 0;
    left:0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 7%;
    background: rgb(51,51,51);
    box-shadow: 0 20px 20px rgba(0,0,0,0.1) ;
}

.header .logo{
    font-size: 30px;
    font-weight: bolder;
    color: rgb(245, 245, 254);

}
.header .logo i{
    color: #6ab04c;
}

.header .navbar a{
    font-size: 20px ;
    color: rgb(245, 245, 254);
    margin: 0 15px;
}
.header .navbar a:hover{
    font-weight: bold;
    color: #6ab04c;
    transition: .3s;
}

.header .icons{
    display: flex;
}

.header .icons div{
    height: 48px;
    width: 48px;
    line-height: 48px;
    border-radius:8px ;
    background: rgb(51,51,51);
    color: white;
    font-size:22px ;
    margin-right:5px ;
    text-align: center;
}

.header .icons div a{
    padding: 12px;
    color: #eee;
}

.header .icons div:hover{
    background: #6ab04c;
    color: #eee;
    transition: 0.3s;
    cursor: pointer;
}

.header .search-form{
    position: absolute;
    top: 110%;
    right:-100%;
    width: 500px  ;
    height: 45px;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    align-items: center;
    box-shadow: 0 20px 20px rgba(0,0,0,0.1) ;
}

.header .search-form.active{
    right: 35px;
    transition: .4s linear;
}


.header .search-form input{
    height: 100%;
    width: 100%;
    background: none;
    text-transform: none;
    font-size:15px;
    color: black;
    padding:0 8px;
}

.header .search-form label{
    font-size: 15px;
    padding-right: 10px;
    color: black;
    cursor: pointer;
}

.header .search-form label:hover{
    color: #6ab04c;
}






.imgbox{
    background: url(download.png) no-repeat;
    background-size: cover;
    justify-content: center ;
    height: 70%;
    
   
}

.imgbox .content{
    color: white;
    text-align: center  ;
    font-size: 60px;
    padding-top: 250px;
    text-decoration: underline;
}


.frstbox{
     background-color: rgba(255, 255, 255, 0.824);;
     height: 60%;
     padding: 2%;
}
.frstbox .container{
    display: grid;
    grid-template-columns: 30% 70% ;
    box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.5);
    width:100%;
    height: 100%;
}
.frstbox .pic{
    background: url("kid.jpg") no-repeat;
    height: 100%;
    background-size: cover;
    

}


.frstbox .Heading p{
    font-size: 22px ;
    padding: 35px;
    color: black;
    
}

.secondbox{
    background: rgb(51,51,51) ;
    height:80%;
}


.secondbox .container h2{
    text-align: center;
    color: rgba(234, 216, 216, 0.794);
    font-size: 50px;
    padding-top: 55px;
    padding-bottom: 30px;
    text-decoration: underline;

}

.secondbox .container .box{
    display: grid;
    grid-template-columns: 50% 50%;
    margin:10px 350px;
    height: 65%;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
    border-radius: 15px;
    
    
}



.secondbox .container .box .content1 .firstname{
   margin-top: 100px;
   margin-left: 50px;
   padding:5px;
   background: none;
   border-bottom: 2px solid #fff;
   width: 80%;
   color: #fff;
   font-size: 20px;
   
}
.secondbox .container .box .content2 .lastname{
    margin-top: 100px;
    margin-left:30px ;
    padding:5px;
    background: none;
    border-bottom: 2px solid #fff;
    width: 80%;
    color: #fff;
    font-size: 20px;
 }
 .secondbox .container .box .content3 .email{
    margin-top: 10px;
    margin-left: 50px;
    padding:5px;
    background: none;
    border-bottom: 2px solid #fff;
    width: 175%;
    color: #fff;
    font-size: 20px;
 }

.secondbox .container .box .content4 .sub_btn{
    margin-top: 100px;
    height: 35px;
    width: 25%;
    margin-left: -60px;
    font-size: 15px;
    font-weight: bolder;
    border-radius: 7px;
    background: none;
    border: 2px solid white;
    color: white;
}

.secondbox .container .box .content4 .sub_btn:hover{
    background: white;
    color: black;
}
 

 .footer{
    background: #6ab04c;
    height: 50%;
    color: #eee;
}


.footer .container{

    width: 100%;
    height: 75%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    gap: 1px;
    padding: 2%;
}

.footer .container .box{

    padding:20px;
}

.footer .container .box h3{
    font-size: 23px;
    font-weight: bolder ;
    text-decoration: underline white;
    padding-bottom: 10px;
}

.footer .container .box a{
    display: block;
    font-size: 15px;
    color: #eee;
    font-weight: bold;
}

.footer .container .box a:hover{
    color: rgb(51,51,51);
    
}

.footer .container .box i{
    color: white;
}



.btn1{
    border: 1px solid white;
    border-radius: 5px;
    font-size: 15px;
    color: #eee;
    padding:10px 15px;
    background: none;
    margin-top: 20px;
}

.btn1:hover{
    border: #6ab04c;
    color: black;
    padding:10px 15px;
    background: #eee;
    font-weight: bolder;
}

.footer .container .box .icons{
    display: flex;
}

.footer .container .box .icons a{
    padding: 10px;
    margin: 5px;
    font-size: 20px;
    border: 1px solid #eee;
    border-radius: 8px;
    width: 40px;
    height: 40px;
    text-align: center;
}

.footer .container .box .icons a:hover{
    color: rgb(51,51,51);
    background: #eee;
}

.footer .container .box p{
    font-size: 15px;
    padding: 10px 5px;
}

.footer .container .box .email{
    border-radius: 8px;
    height: 30px;
    width: 60%;
    padding-left:2% ;
}

.footer .credit{
    text-align: center;
    margin-top: 30px;
    font-size: 15px;
    padding: 10px ;
    border-top: 1px solid;
    padding-top: 25px;
}
.footer .credit span{
    color: rgb(51,51,51);
    font-weight: bolder;
}